body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: #fff;
}

header {
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo {
    font-size: 24px;
    color: #ffcc00;
    font-weight: bold;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#searchBar {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 40%;
}

#searchSuggestions {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    max-height: 150px;
    overflow-y: auto;
    top: 60px;
    left: 20px;
    z-index: 1000;
}

#searchSuggestions div {
    padding: 10px;
    cursor: pointer;
}

#searchSuggestions div:hover {
    background-color: #ddd;
}

#genreFilter, #releaseYearFilter, #ratingFilter {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

#genreFilter {
    background-color: #ffcc00;
    color: #333;
}

#ratingFilter {
    background-color: #ffcc00;
    color: #333;
}

#ratingValue {
    margin-left: 10px;
    font-size: 16px;
}

#viewFavorites {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ffcc00;
    color: #333;
    margin-left: 10px;
    cursor: pointer;
}

#viewFavorites:hover {
    background-color: #e6b800;
}

main {
    padding: 20px;
}

#recommendations h2 {
    color: #ffcc00;
    margin-bottom: 20px;
}

#movieGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movieCard {
    background-color: #292929;
    border-radius: 10px;
    width: 200px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.movieCard:hover {
    transform: scale(1.05);
}

.movieCard img {
    border-radius: 10px;
    width: 100%;
}

.movieCard h3 {
    margin: 10px 0 5px 0;
    font-size: 18px;
}

.movieCard p {
    margin: 5px 0;
    font-size: 14px;
    color: #ccc;
}

footer {
    background-color: #333;
    color: #ccc;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #000;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
